@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
#contacts {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 30px;
  font-weight: 700;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  -webkit-animation: blink 1s ease-in-out alternate infinite;
          animation: blink 1s ease-in-out alternate infinite;
}

#summary {
  display: flex;
  justify-content: center;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white;
  -webkit-animation: blink 1s ease-in-out;
          animation: blink 1s ease-in-out;
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
form {
  margin-left: auto;
  margin-right: auto;
  width: 965px;
  height: 450px;
  padding: 30px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}

textarea {
  background: transparent;
  width: 894px;
  height: 110px;
  border: 1px solid white;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

select {
  width: 894px;
  height: 48px;
  line-height: 1.5;
  font-size: 1.4em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -mox-border-radius: 10px;
  color: #fff;
  display: block;
  background: transparent;
  margin-bottom: 20px;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  border: 1px solid white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nameinput, .emailinput {
  width: 894px;
  height: 48px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  border: 1px solid white;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

input[type=submit] {
  cursor: pointer;
}

input.nameinput {
  border: 1px solid white;
  background: transparent;
  padding-left: 45px;
}

input.emailinput {
  background: transparent;
  padding-left: 45px;
  border: 1px solid white;
}

input.message {
  background: transparent;
  padding-left: 45px;
  border: 1px solid white;
}

select.indent {
  padding-left: 45px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  border: 1px solid white;
}

.btn {
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  width: 200px;
  height: 48px;
  color: #000;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  outline: none;
  box-shadow: 0 6px #cecece;
  border-radius: 5px;
  float: right;
  z-index: 1;
  margin-right: 6px;
}

.btn:hover {
  background: #fff;
  outline: none;
  box-shadow: 0 4px #cecece;
  top: 2px;
  z-index: 1;
}

.btn:active {
  background: #fff;
  outline: none;
  box-shadow: 0 0 #cecece;
  top: 6px;
  z-index: 1;
}

.flat {
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

.flat:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.flat {
  width: 960px !important;
  height: 48px;
  overflow: hidden;
  margin-bottom: 20px;
  background: url(http://www.jordancundiff.com/wp-content/uploads/2014/03/icon-dropdown.png) no-repeat right;
}

@media only screen and (min-width: 768px) and (max-width: 1035px) {
  h1 {
    font-size: 80px;
  }
  form {
    width: 736px !important;
  }
  #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat {
    width: 731px !important;
  }
  .nameinput, .emailinput, #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea {
    width: 666px !important;
  }
}
@media only screen and (max-width: 804px) {
  h1 {
    font-size: 50px;
  }
  form {
    width: 450px !important;
  }
  #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat {
    width: 445px !important;
  }
  .nameinput, .emailinput, #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea {
    width: 380px !important;
  }
}
@media only screen and (max-width: 517px) {
  h1 {
    font-size: 30px;
  }
  form {
    width: 295px !important;
  }
  #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat > select, #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Subject.flat {
    width: 290px !important;
  }
  .nameinput, .emailinput, #wpcf7-f156-p143-o1\ formwrap > form > p > span.wpcf7-form-control-wrap.Message > textarea {
    width: 225px !important;
  }
  .btn {
    width: 110px;
  }
}/*# sourceMappingURL=form.css.map */