@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Color Variables */
$color-codepen: transparent;
$color-github: transparent;
$color-twitter: transparent;
$color-dribbble: transparent;
$color-instagram:transparent;
$color-linkedin: transparent;
$color-facebook:transparent ;

/* Social Icon Mixin */
@mixin social-icon($color) {
  background: white;
  color: #6E0664;
  z-index: 1;

  .tooltip {
    background: white;
    color: currentColor;
    z-index: 1;

    &:after {
      border-top-color: white;
      z-index: 1;

    }
  }
}


/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 0px;


}

.social-icon {
  display: flex;
  align-items: center;
  z-index: 1;


  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
      z-index: 1;


  &:hover {
    color: #fff;
    z-index: 1;
    .tooltip {
      visibility: visible;
      opacity: 1;
      z-index: 1;


      transform: translate(-50%, -150%);
    }
  }
    
  &:active {
    z-index: 1;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  
  &--linkedin { @include social-icon($color-linkedin); }
  &--twitter { @include social-icon($color-twitter); }
  &--codepen { @include social-icon($color-codepen); }
  &--facebook { @include social-icon($color-facebook); }
  &--instagram { @include social-icon($color-instagram); }
  &--dribbble { @include social-icon($color-dribbble); }
  &--github { @include social-icon($color-github); }
  
  i {
    position: relative;
    top: 1px;
    z-index: 1;

  }
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;

  &:after {
    display: block;
    position: absolute;
    bottom: 1px;
    z-index: 1;

    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}
::placeholder{
  color:white;
  font-family: 'Abhaya Libre Medium';

}
input[type=text], select, textarea {
  width: 80%;
  float:right;
  padding: 12px;

  font-family: 'Abhaya Libre Medium';
  border: 1px solid white;
  color:white;
  background:transparent;
  border-radius: 4px;
  box-sizing: border-box;
margin-top: -40px;
  margin-bottom: 20px;
 
  resize: vertical;

}
label{
font-family: 'Abhaya Libre Medium';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 29px;
color:white;
float:left;
width:80%;
}
.submits{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
input[type=submit] {
align-content: center;
  margin-top: 19px;
  margin-left:270px;
  cursor: pointer;
width: 30%;
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  border: #fff;
  border-radius: 4px;
  border: 1px solid white;

  cursor: pointer;
}

.contacts{

  font-family: 'Alegreya';
font-style: normal;
font-weight: 400;
font-size: 50px;
color:white;
}
input[type=submit]:hover {
  background-color: white;
  color:#6E0664;
  
  z-index:1;
}

.container {
display: flex;
justify-content: center;
width:80%;
  border-radius: 5px;
margin-left: 100px;
margin-top: 100px;
  padding: 109px;
}

@media only screen and (max-width: 600px) {
  label{
    font-family: 'Abhaya Libre Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
  
    color:white;
    float:left;
 
    }
    input[type=text], select, textarea {
  width: 60%;

margin-top: -40px;
  margin-bottom: 20px;
 margin-left: 70px;
  resize: vertical;

}
.contacts{
  display: flex;
  justify-content: center;

}
}