@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #6E0664;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shapes {
  height: 100vh;
  padding: 50px;
}

.shapes .circle, .shapes .cross {
  position: relative;
  display: inline-block;
  -webkit-animation: scale 3s ease alternate-reverse infinite;
  animation: scale 3s ease alternate-reverse infinite;
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: rotate(20deg) scale(1.25);
    -ms-transform: rotate(20deg) scale(1.25);
    transform: rotate(20deg) scale(1.25);
  }
}

.circle {
  border: 5.8333333333px solid white;
  width: 35px;
  Height: 35px;
  border-radius: 50%;
}

.cross {
  height: 35px;
  width: 35px;
}
.cross span {
  display: block;
  background-color: white;
}
.cross span:first-child, .cross span:nth-child(2) {
  height: 50%;
  width: 5.8333333333px;
  margin: auto;
}
.cross span:first-child {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.cross span:nth-child(2) {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.cross span:nth-child(3), .cross span:last-child {
  height: 5.8333333333px;
  width: 50%;
  position: absolute;
  top: 14.5833333333px;
}
.cross span:nth-child(3) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  left: 0;
}
.cross span:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  right: 0;
}

.cross.cross1 {
  left: 80%;
  top: 30%;
}

.circle.crc2 {
  top: 33%;
  right: -13%;
}

.cross.cross2 {
  top: 75%;
  left: 5%;
}
.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.content h2:nth-child(2) {
  color: white;
  -webkit-animation: animate 4s ease-in-out infinite;
          animation: animate 4s ease-in-out infinite;
}

@-webkit-keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}/*# sourceMappingURL=launch.css.map */



button {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  top:160px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  color:white;
}

button:after, button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid white;
  transition: transform 0.2s;
}
button:after {
  transform: translate(3px, 3px);
}
button:before {
  transform: translate(-3px, -3px);
}
button:hover:after, button:hover:before {
  transform: translate(0);
}
