@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 130vw;
  min-height: 100vh;
}






nav{
  display: flex;
justify-content:center;
  align-items: center;
  min-height: 10vh;
  
  background-color: transparent;

  z-index: 1;
  /* identical to box height */

  color: #6F0664;
}



       


.kirby{
  width:100%;
}
.whiskeitshop{
  width:100%;
}
.typeface{
  width:100%;
}
.projectstuff{
  display: flex;
justify-content:center;
  align-items: center;
}
a.button {
  position: relative;
  display:inline-block;
  width:100px;
  height:50px;

  color:#fff;
  line-height:50px;
  text-align:center;
  text-decoration: none;
  z-index: 1;
}

a.active {
  border-radius: 62.5px;
  background-color:white;
  z-index: 1;
  color:#6F0664;
}
#text {
  opacity: 0;
  transition: 1s;
}

#text.fade-in {
  opacity: 1;
  transition: 1s;
}
.content {
  display: flex;
  justify-content:center;
    align-items: center;

  z-index: 1;

}
.content-1{
  display: flex;
  justify-content:center;
    align-items: center;

  width:50%;
  z-index: 1;
  h1{
    font-family: 'Alegreya';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;
color:white;
text-align: center;


}
p{
  font-family: 'Alegreya';
font-style: normal;
font-weight: 400;
font-size: 20px;
color:white;
}
}
.links{
  display:inline-block;
align-content: center;
  a{
    text-decoration: none;

    font-family: 'Alegreya';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 41px;
color:#fff;
  }
}
.carousel {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  scroll-behavior: smooth;
}

.carousel:before {
  content: "";
  width: 100%;
  height: 10rem;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
  pointer-events: none;


  background: linear-gradient(
    to right,
    var(--bg),
    transparent 10%,
    transparent 90%,
    var(--bg)
  );
}

.slides {
  width: 16rem;
  height: 11rem;
  display: flex;
  gap: 20px;

  padding: 1rem;
  overflow-x: scroll;

  scroll-behavior: smooth;
  --tw-scroll-snap-strictness: mandatory;
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.navigation {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.navigation a {
  color: #cbd5e1;
  text-decoration: none;
}

.slide {
  scroll-snap-stop: always;
  scroll-snap-align: center;

  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  height: 8rem;

  object-fit: cover;
  background: #1e293b;

  border: none;
  border-radius: 0.5rem;
}

.slides::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
  background-color: #1e293b;
}

.slides::-webkit-scrollbar {
  height: 6px;
}

.slides::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
  background-color: #475569;
}

.slides::-webkit-scrollbar-thumb:hover {
  background-color: #657791;
}

.slides::-webkit-scrollbar-thumb:active {
  background-color: #38485e;
}
.slideshow{
  display: flex;
  position: relative;
  width: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
.resume{
  
position: absolute;
width:30%;
height: 9vh;
left: 560px;
top: 2100px;
background-color: transparent;
font-family: 'Akshar';
font-style: normal;
font-weight: 700;
font-size: 33px;
border: 1px solid #6F0664;

color: #6E0664;
}
.slide{
  position: absolute;
  width: 80vw;
  height: 100vh;
  display: none;
  z-index: 1;
  font-size: 100px;
  font-family: 'Staatliches', cursive;
  align-items: center;
  justify-content: center;
}
.child{
  padding:30px;
}
.active-slide{
  z-index: 10;
  display: flex;

  animation: slideIn 1s cubic-bezier(0.7, 0, 0.3, 1) 0s 1 forwards;
}
.prev-slide{
  display: flex;
}
.dot-cont{
  position: absolute;
  z-index: 11;
  bottom: 5px;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}
.dot{
  margin: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
}
.dot:hover{
  cursor: pointer;
  background: white;
}
.active-dot{ 
  background: rgba(255,255,255,0.9);
  animation: fadeIn 1s cubic-bezier(0.7, 0, 0.3, 1) 0s 1 forwards;
}
.arrow-button{
  position: absolute;
  z-index: 11;
  background: rgba(0,0,0,0.5);
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(255,255,255,0.5);
  font-size: 20px;
  font-weight: bold;
}
.arrow-button:hover{
  color: rgba(255,255,255,1);
}
.left-arrow{
  left: 0;
}
.right-arrow{
  right: 0;
}



@keyframes slideIn{
  0%{
    transform: translate(-100vw, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}
@keyframes fadeIn{
  0%{
    background: rgba(255,255,255,0.5);
  }
  100%{
    background: rgba(255,255,255,0.9);
  }
}
.content-2{
  display: flex;
  justify-content:center;
img{
max-width:80%;
 padding-top:60px;
 padding-left:350px;
}
}
div[class*="content-"] { 
  display:none;
  z-index: 1;
}

div.active { 
  display:block;
  z-index: 10;
}
.button-wrap{

border: 1px solid white;
border-radius: 62.5px;
}

 .minicontent{
    display: flex;
    z-index: 1;
    justify-content: space-around;
    width: 35%;
    box-sizing: border-box;

    font-style: normal;
    font-weight: 400;
    font-size:1.3em;
    font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  border: 1px solid white;
border-radius: 62.5px;

  a{
    text-decoration: none;
    color:white;
  }
  }
.outline{
  display:flex;
  justify-content: center;
  padding-top: 2em;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-family: 'a Alloy Ink';
  font-style: normal;
  font-weight: 400;
  font-size:2em;
}
.yellow{
  color: #6E0664;
}

x{
  position: relative;
}
.x_content {

  position: absolute;
  left: -1%;
  right: -40%;
  top:26%;
  bottom: 32.67%;
  
  
}

.aboutme{
  display: flex;
justify-content:center;
  align-items: center;

  font-family: 'Akshar';
  font-style: normal;
  font-weight: 700;
padding-left: 3.6em;
font-size:4.375em;
padding-top:2em;

width:83%;
color:black;
img{
  padding-left: .2em;
}
}

.sparkle_content{
  position: absolute;
  left:76%;
  right: -250%;
  top: 28.52%;
  bottom: 33.13%;
  
  transform: rotate(30deg);
}

.stars2{
  position: absolute;
  left: 41.83%;
  right: 45.51%;
  top: 30.8%;
  bottom: 62.9%;
  
  transform: rotate(11.7deg);
}
.small{
  font-size:.6em;
}
.stars{

 
  position: absolute;
  left: 41.14%;
  right: 46.2%;
  top: 10.3%;
  bottom: 83.4%;
  
  transform: rotate(11.7deg);
}
.content-3{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.intrologo{
  display:flex;
justify-content: center;
}




.dots{
  display:flex;
  justify-content: center;
  padding-left:10em;
  padding-top:4em;
}

.catcher{
  font-family: 'Akshar';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 36px;
}

.aboutmemore{
  padding-top: 3em;
justify-content:center;
  align-items: center;

  font-family: 'Akshar';
font-style: normal;
font-weight: 500;
font-size: 1.3em;
width:80%;
padding-left:16em;
color:black;

p{
  font-family: 'Abhaya Libre Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
}
}


.nav-links li{
  list-style:none;
  z-index: 1;
  

}
.nav-links a{
  font-family: 'Akshar';
  color:black;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin-left:10px;
  font-size:1em;
  align-items: center;  
  
z-index: 1;
}

.burger{
  display:none;
  cursor: pointer;
}

.burger div{
  width:25px;
  height:3px;
  background-color:#fff;
  margin: 5px;
  transition: all 0.3s ease
  
}

.circle_content{
  position: absolute;
left: -22.63%;
right: 58.82%;
top: 55.06%;
bottom: 27.84%;

transform: rotate(-9deg);
}




@media screen and (max-width:1024px){
  .nav-links{
    width:60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .aboutme{
    padding:10px;
    width:100%;
  }
  .aboutmemore{
    padding:10px;
    width:100%;
  }
  .nav-links{
    position:absolute;
    right:0px;
    height:92vh;
    top: 8vh;
    background-color:white;
    display:flex;
    flex-direction: column;  
    align-items: center;
    width:70%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display:block;
    z-index: 1;
  }
}

.nav-active{
  transform: translateX(0%);
}


@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.morestars_content{

position: absolute;
width: 455.17px;
height: 384.75px;

transform: rotate(11.7deg);
}
.scribblestars_content{

  position: absolute;
  width: 273.71px;
  height: 307.54px;
  left: 1085px;
  top: 1495.54px;
  
  transform: rotate(-45deg);

}
.toggle .line1{
  transform: rotate(-40deg) translate(-5px,6px);
}

.toggle .line2{
  transform: rotate(90deg) translate(0px,0px);
}

.toggle .line3{
  transform: rotate(35deg) translate(-5px,-6px);
}

.body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skill {
  width: 100%;
  margin: 10px 0;
}

.title {
  color: #fff;
  font-weight: 700;
}

.progress-bar {
  background: white
  ;
  border-radius: 3px;
  width: 100%;
  height: 15px;
  margin-top: 5px;
/*   overflow: hidden; */
}

  

.progress {
/*   width: 0; */
}

#html .progress {
  max-width: 90%;
  height: 100%;
  background: #ed2828;
  border-radius: 3px;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#html .progress::after {
  content: "90%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#html .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#css .progress {
  max-width: 70%;
  height: 100%;
  background: #ed2828;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#css .progress::after {
  content: "70%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#css .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#js .progress {
  max-width: 60%;
  height: 100%;
  background: #ed2828;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#js .progress::after {
  content: "60%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#js .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

@keyframes loadBars{
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
  
}
@import url(star.css);