@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button{
  padding: 8px;
  width: 100px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
}

button:hover{
  transform: scale(1.05);
}

.container{
	width: 50%;
	height: 100vh;
	overflow: hidden;padding-left:250px;
}

.pages {
	box-sizing: border-box;	
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	gap: 10px;
  transition: all 0.7s;
  color: white;
}

.one{
  background: orangered;
}

.two{
  background-color: dodgerblue;
}

.three{
  background-color: indigo;
}

.four{
  background-color: limegreen;
}